src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1d40e111-0b00-43d2-94eb-3f7bca39e81b" >
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="ae61bad1-f9bd-4885-ac99-e5d72a35714c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="30233c9f-8a73-44c3-8ee4-d4d7318b55ed" >
		<http:listener-connection host="0.0.0.0" port="8011" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="60986345-53d3-4199-a42c-df82691068dd" >
		<http:listener doc:name="Listener" doc:id="63edb0cd-ad18-4153-898c-34a14fc02334" config-ref="HTTP_Listener_config1" path="/helloworld"/>
		<set-payload value='#[payload ++ " How are you?"]' doc:name="Set Payload" doc:id="fd86582b-c70a-4c1b-8dec-945d59fd0704" />
		<ee:transform doc:name="Transform Message" doc:id="0401998d-b00f-480e-b6d3-b2eef0812b38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
